<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  
    <appSettings>
      <add key="Host" value="172.28.25.216" />
      <add key="Port" value="23" />
      <add key="UserName" value="root" />
      <add key="Password" value="OhK4Leey" />
      <add key="TimeoutSeconds" value="10" />
      <add key="VirtualScreenHeight" value="80" />
      <add key="VirtualScreenWidth" value="40" />
    </appSettings>

</configuration>